*{
	margin: 0;
	padding: 0;
}

body{
	width: 960px;
	margin: 0 auto;
	background: #e1e6e9;
}

header{	
	margin-top: 33px;
}
header a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

.header-block1{	
	background: url(../img/bg-header1.png) repeat-x #000;	
	padding: 6px 0px 6px 7px;
}
.header-block1 a{
	color: #b1b1b1;		
	font-family: Georgia;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -0.3px;

	padding: 0 1px 0 12px;
}
.header-block1 a:hover{
	color: #fff;
}
.header-block1 a.active{
	color: #fff;
}
.header-block2{	
	background-color: #fff;
	border-left: 1px solid #cacaca;
	border-right: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
}
.header-block2 a div{
	display: inline-block;
	border-right: 1px solid #cacaca;	
	padding: 12px 21px 10px 20px;
	margin-right: -5px;
	font: bold 12px Georgia;	
	text-transform: uppercase;
	color: #717171;
	letter-spacing: -0.42px;
	cursor: pointer;
}
.header-block2 a:not(.active) div:hover{
	background-color: #f0f0f0;
	border-left: 1px solid #cacaca;
	padding-left: 19px;
}
.header-block2 a.active div{
	background-color: #f0f0f0;
	padding: 10px;
	padding: 12px 20px 10px 19px;
	cursor: pointer;
}

.logoblock{
	overflow: hidden;
}
.logo{	
	margin-top: 28px;
	display: inline-block;
	float: left;
}
.ads{
	margin-top: 38px;
	display: inline-block;
	float: right;
}
@font-face{
	font-family: ChaparralPro;
	src: url(../fonts/ChaparralPro-Bold.otf);
}
.logo .ws{
	font: 47px ChaparralPro;
	color: #191919;
	letter-spacing: -1.8px;
	padding-left: 2px;
}
.logo .awp{
	margin-top: -7px;
	font: bold 13px Georgia;
	color: #555555;
	margin-left: 6px;	
	letter-spacing: 1px;
}

main{
	clear: both;
	height: auto;	
	margin-top: 23px;
	padding-bottom: 30px;
	overflow: hidden;
	
}
.content{
	display: inline-block;
	float: left;
}

.bigPictLabel{
	
	height: 35px;
	width: 220px;
	background: url(../img/bg-header1.png) repeat-x #000;
	color: white;
	font: normal 20px Georgia;
	padding: 8px 0px 0px 14px;
}
.bigPictLabel::after {
	content: ''; 
	position: absolute;
	margin: 35px 0px 0px -216px;
	border: 5px solid transparent;	
	border-top: 5px solid black;
	border-right: 5px solid black;
}
.content img.bigPict{
	position: relative;
	margin: -29px 0px 0 10px;
	padding: 0px;
	border: 1px solid #b9b9b9;
	z-index: -1;
}
.sidebar{
	margin-top: 5px;
	display: inline-block;
	float: right;
}
.sidebar .search{
	width: 286px;	
	margin-top: 9px;	
}
.sidebar input[type="search"]{
	border: 1px solid #c5c5c5;
	display: inline-block;
	text-transform: uppercase;
	font: bold 11px Georgia;
	color: #8d8d8d;	
	outline: none; /* Убираем свечение в Chrome и Safari */
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	width: 190px; /* Ширина поля */
	height: 36px;
	padding-left: 13px;
	letter-spacing: -0.4px;
	vertical-align: middle;
	clear: both;	
	-webkit-appearance: none; /* Выравнивание по середине */	
}
.sidebar input[type="submit"]{
	display: inline-block;
	text-transform: uppercase;
	font: bold 12px Georgia;
	color: #e4e4e4;
	padding-top: 1px;
	width: 96px; /* Ширина кнопки */
	height: 36px; /* Высота кнопки */
	border: none; /* Убираем рамку */	
	float: right;	
	background: url(../img/bg-header1.png) repeat-x #000;
	cursor: pointer;
}
.socials li{
	margin-top: 25px;
	list-style-type: none;
	display: inline-block;
	
}
.socials li.rss{
	width: 121px;	
}
.socials li.twitter{
	width: 109px;
}
.socials li img{
	margin-top: 5px;
	float: left;	
}
.socials li{	
	margin-right: 25px;
}
.socials li span{
	margin-left: 11px;
}
.socials li span.socialNumb{
	font: bold 22px Georgia;	
}
.socials li span.socialText{
	font: normal 14px Georgia;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px){

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	
}